<main class="home-page">
  <header class="header">
    <section class="hero">
      <div>
        <p class="eyebrow">Welcome to Poll App</p>

        <h2>
          Collect Feedback,
          <br />
          Unlock Ideas
        </h2>

        <p class="hero-text">Create surveys, collect answers and view live results.</p>
      </div>
    </section>
    <div>
      <p class="eyebrow">Poll App</p>
      <h1>Your surveys</h1>
    </div>

    <a routerLink="/create-survey" class="new-survey-btn"> New Survey </a>
  </header>

  <section class="ending-soon">
    <h2>Ending soon surveys</h2>

    @if (endingSoonSurveys.length > 0) {
      <div class="survey-grid">
        @for (survey of endingSoonSurveys; track survey.id) {
          <a class="survey-card" [routerLink]="['/survey', survey.id]">
            <h3>{{ survey.title }}</h3>

            <p>
              {{ survey.description }}
            </p>

            <span>
              Deadline:
              {{ survey.deadline }}
            </span>
          </a>
        }
      </div>
    } @else {
      <div class="empty-state">No ending soon surveys.</div>
    }
  </section>

  <section class="survey-list">
    <div class="tabs">
      <button [class.active]="activeTab === 'running'" (click)="setTab('running')">Running</button>

      <button [class.active]="activeTab === 'past'" (click)="setTab('past')">Past Survey</button>
    </div>
    <div class="category-filter">
      @for (category of categories; track category) {
        <button [class.active]="selectedCategory === category" (click)="setCategory(category)">
          {{ category }}
        </button>
      }
    </div>

    @if (activeTab === 'running') {
      @if (filteredRunningSurveys.length > 0) {
        <div class="survey-grid">
          @for (survey of filteredRunningSurveys; track survey.id) {
            <a class="survey-card" [routerLink]="['/survey', survey.id]">
              <h3>{{ survey.title }}</h3>
              <p>{{ survey.description }}</p>
              <span>Deadline: {{ survey.deadline }}</span>

              <button
                class="delete-btn"
                type="button"
                (click)="deleteSurvey(survey.id); $event.preventDefault(); $event.stopPropagation()"
              >
                Delete
              </button>
            </a>
          }
        </div>
      } @else {
        <div class="empty-state">No running surveys yet.</div>
      }
    }

    @if (activeTab === 'past') {
      @if (filteredPastSurveys.length > 0) {
        <div class="survey-grid">
          @for (survey of filteredPastSurveys; track survey.id) {
            <div class="survey-card past-card">
              <h3>{{ survey.title }}</h3>
              <p>{{ survey.description }}</p>
              <span>Deadline: {{ survey.deadline }}</span>
            </div>
          }
        </div>
      } @else {
        <div class="empty-state">No past surveys yet.</div>
      }
    }
  </section>
</main>
