@if (survey) {
  <main class="survey-detail-page">
    <a routerLink="/" class="back-link"> ← Back to Home </a>
    <section class="survey-box">
      <h1>{{ survey.title }}</h1>

      <p class="survey-description">
        {{ survey.description }}
      </p>

      <div class="survey-meta">
        <span> Category: {{ survey.category }} </span>

        <span> Deadline: {{ survey.deadline }} </span>
      </div>

      <h3>{{ currentQuestion?.text }}</h3>

      @for (answer of currentQuestion?.answers ?? []; track answer.text; let index = $index) {
        <label class="answer-item">
          <input
            [type]="currentQuestion?.allowMultipleAnswers ? 'checkbox' : 'radio'"
            name="answer"
            [checked]="
              currentQuestion?.allowMultipleAnswers
                ? selectedIndexes.includes(index)
                : selectedIndex === index
            "
            (click)="vote(index)"
          />

          {{ answer.text }}
        </label>
      }

      <p class="question-counter">
        Question
        {{ currentQuestionIndex + 1 }}
        of
        {{ survey.questions.length }}
      </p>

      @if (!surveyCompleted) {
        <button
          class="complete-btn"
          [disabled]="
            currentQuestion?.allowMultipleAnswers
              ? selectedIndexes.length === 0
              : selectedIndex === null
          "
          (click)="completeSurvey()"
        >
          Complete Survey
        </button>
      }
    </section>

    <section class="results-box">
      <h2>Survey Results LIVE</h2>

      @if (getTotalVotes() === 0) {
        <div class="empty-results">No results yet.</div>
      } @else {
        @for (answer of currentQuestion?.answers ?? []; track answer.text) {
          <div class="result-item">
            <p>{{ answer.text }}</p>

            <div class="bar">
              <div class="fill" [style.width.%]="getPercentage(answer.votes)"></div>
            </div>

            <span> {{ getPercentage(answer.votes) }}% </span>
          </div>
        }
      }
    </section>
  </main>
}
